h1{
  border-color: #338be8;
  border-style:double;
  color: #d033e8;
}

.stand-out {
  color:red;
  font-weight: bold;
}

.name {
  font-family: 'Courier New', Courier, monospace;
  color:deeppink
}

img {
  width: 400px;
  border-style:groove;
  border-radius: 20px;
  border-color: #d033e8;
}

#hello {
  border-color: cyan;
  background-color: black;
  border-radius: 8px;
  color: cyan;
}

#hello:hover {
  background-color: cyan;
  color: black;
}

body {
  background-color: black;
  color: white;
}
